$fontSizeBase: 10px;
$fontSizeTitulo: 40px;
$fontSizeAP: 18px;
$fontSizeSubTitulo: 20px;

$arteLabel: 'Art';
$ilustracionLabel: 'Illustracion';
$FotografiaLabel: 'Fotografia';
$model3dLabel: 'model3d';
$animacionLabel: 'animacion';