$color1: rgb(20, 20, 136) ;
$color2: rgb(194, 53, 53);
$color3: purple;
$color4: rgb(233, 137, 48);
$colorlight: rgb(250, 242, 242);


/***********/
$arteLabel: 'Art';
$ilustracionLabel: 'Illustracion';
$FotografiaLabel: 'Fotografia';
$model3dLabel: 'model3d';
$animacionLabel: 'animacion';

/********/

$TxtPrinp: 'Hubballi' ;
$subprn: 'Hubballi' ;
$subsbtn:  'Noto Sans', sans-serif;
$parr: 'Roboto Mono', monospace;

$tituloPrincipalLabel: 'tituloPrincipal' ;
$subprincipalLabel: 'SubtPrincipal' ;
$SubtitulosLabel: 'Subtitulos' 'btn';
$parrafosLabel: 'parrafo';

