
@mixin setcolor($name, $color){
    //Creando el nombre de la clase CSS concatenando el selector padre y utilizando la interpolación
    &-#{$name}{
        background-color: $color;
            
    }
}

.card{
    @include listaflex(column, center) ;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    box-shadow: 4px 3px 2px 2px rgb(221, 174, 221);
    &:hover{
        @include animat2;
    }

    &-#{$arteLabel}{
        @include colorback($colorbackg);
    }

    &-#{$ilustracionLabel}{
        @include colorback($colorbackg2);
    }

    &-#{$FotografiaLabel}{
        @include colorback($colorbackg);
    }

    &-#{$model3dLabel}{
        @include colorback($colorbackg2);
    }

    &-#{$animacionLabel}{
        @include colorback($colorbackg);
    }

}




.card > header{
    background-color: rgb(155, 199, 146);
    padding: 5px;
    margin-top: 6px;
    border-radius: 20px;

    &:hover{
        background-color: rgb(146, 172, 90);
    }
    
    h2:hover{
        color: $colorlight;
    }

}

.card > div{
    @include listaflex(column, center);
    margin: 30px;
}

.card > div > figure{
    @include listaflex(column, center);
}

.card-Illustracion div > figure{
    @include listaflex(row, center);
}



