img{
    border-radius: 30px;
    &:hover{
        transition: ease-in-out 1s;
        filter: brightness(60%)
    }
}

#img1, #img3, #img4{
    @include imgwidth(30%);
}
#img5{
    @include imgwidth(50%);
}
#img2{
    @include imgwidth(15%);
}
#img6{
    @include imgwidth(60%);
}

